.allPostsContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}

.leftPanel {
  width: 30%;
}

.middlePanel {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  margin-top: -2%;
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  margin-top: -1%;
}

.userImageContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
}

.popOverContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.joined {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.followBtn {
  width: 100%;
}

.userStyle {
  font-size: 12px !important;
  margin-top: -1%;
  cursor: pointer;
}

.postInfoContainer {
  margin: 1% 0 0 4%;
}

.rightPanel {
  width: 30%;
}

.userSectionMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem {
  cursor: pointer;
}

.menuItemContainer {
  width: 150px !important;
}

.menuItemContents {
  width: 80px;
}

.menuItemContents > p {
  font-size: 14px;
  line-height: 2;
  cursor: pointer;
}

.userCommentsContainer {
  margin-top: 8px;
}

.userComments {
  display: flex;
  gap: 15px;
  align-items: center;
}

.comments {
  padding: 15px;
  background-color: rgba(219, 219, 219, 0.4);
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: 500;
}

.seeAllComments {
  font-weight: 500;
  color: grey;
  margin: 5px;
  cursor: pointer;
}

.title > span:hover {
  color: rgb(109, 64, 109);
  cursor: pointer;
}

.likeUnlike {
  display: flex !important;
  gap: 5px !important;
}
