.main {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 30px;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.type {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links {
  color: gray;
  font-size: 16px;
  font-weight: 600;
}

.recommendedTopics {
  background-color: #d4d4d4;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 13px 4px -8px;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
}

.info {
  font-size: 14px;
  line-height: 1.5;
  color: gray;
  font-weight: 600;
}

.info > span {
  font-weight: 600;
  color: black;
}

.followAuthorContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 120%;
}

.followContainer {
  display: flex;
  justify-content: space-between;
}

.follow {
  border: 1px solid rgb(68, 68, 68);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-weight: 500;
  height: 37px;
  cursor: pointer;
  flex-wrap: wrap;
  letter-spacing: 0.5px;
}

.follow:hover{
  background-color: black;
  color: white;
}

.description {
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
