.mainHeader {
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
}

.subHeaderContents {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.searchCardContainer {
  display: flex;
  flex-direction: column;
}

.searchResultsCard {
  position: absolute;
  left: 21.4%;
  top: 6%;
  z-index: 100;
}

.createPostContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.createPostEditor {
  height: 450px;
}

.avatar {
  cursor: pointer;
}

.authUserContents {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authUserContents > div {
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.logout {
  cursor: pointer;
}

.postTitleContainer {
  padding: 10px 0;
  margin: -19px 0 10px;
}

.coverImage {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.postTitle {
  font-size: 40px !important;
  font-weight: 800 !important;
  resize: none !important;
  border: none !important;
  box-shadow: none !important;
}

.searchedPostTitle {
  font-size: 28px;
  font-weight: 800;
}

.searchedPostTitle:hover {
  color: rgb(109, 64, 109);
  cursor: pointer;
}

.logo {
  font-size: 14px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 3px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.fullName {
  color: grey;
  font-weight: 500;
}

.noPostsAvailable {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: gray;
}

.formSubmit {
  float: right;
  margin-top: 10px;
}

.formItem {
  margin-bottom: 5px;
}

.userDetailsContainer {
  line-height: 2.2;
}

.userName {
  color: gray;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.userName:hover {
  color: rgb(94, 155, 245);
}
