.bookmarksMainContainer {
  margin: 5% auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bookmarkedPostDetails {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  gap: 15px;
}

.imageContainer {
  cursor: pointer;
}

.card {
  cursor: pointer;
}

.bookmarkedPostDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 1200px;
}

.userName {
  font-weight: 600;
}
